.chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.image-chat-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.row-reverse {
  margin-left: auto;
}

.upper-division {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.email {
  font-weight: bold;
  font-size: 14px;
}

.time {
  font-size: 12px;
  color: #888;
}

.lower-division {
  font-size: 14px;
}

.p {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow-wrap: break-word;
}

.enter-message {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 90vw;
  outline: none;
}

.enter-message:focus {
  border-color: #8085cd;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

.send-div {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  position: sticky;
  bottom: 0;
}

.input-message-div {
  display: flex;
  flex-direction: row;
}

.small-tag {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.75rem;
  color: gray;
}

.chat-parent-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 75%;
  overflow-y: scroll;
  width: 100%;
}


.chat-parent-container>.chat-container {
  align-self: flex-start;
}

.chat-parent-container>.row-reverse {
  align-self: flex-end;
}

.email-heading {}


.chat-send-message {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;

  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: 150px;
}





.file-container {}

.file-select-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.file-select-modal h2 {
  margin: 0 0 10px;
}

.file-select-modal button {
  margin-right: 10px;
}