.chat-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  .chat-tile {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    min-height: 50px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-info h4 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .chat-info p {
    margin: 0;
    color: #666;
    font-size: 0.9em;
  }
  
  .chat-time {
    font-size: 0.8em;
    color: #888;
  }
  
  .tab-width{
    display: flex;
    flex: 0.3;
  }
  .tab-pannel{
    display: flex;
    flex-direction: column;
  }

  .css-19wsa2m-MuiButtonBase-root-MuiTab-root {
    width: 100% !important;
  }


  .user-list-container {
    display: flex;
    flex: 0.7;
    max-height: 50px;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .user-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .username-item {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .action-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  